html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html{-webkit-tap-highlight-color:transparent;}
*{box-sizing:border-box;-webkit-box-sizing:border-box;}
img{display: block;}
.hide{display:none;}
input {-webkit-appearance: none;}
:focus { outline: none; }

/* body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
} */

/* loading */
.spinner {
    margin: 100px ;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    position:absolute;
}


#loading P {
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;}
.spinner > div {

    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

#loading { width:100%; height:100%; position:fixed; left:50%; margin-left:-50%; top:0; z-index:59999999;overflow:hidden;}
.spinner > div { background-color: #0083c1;}
#loading { background:#fff;}
#loading P {color: #0083c1;}

.sound-on {background: url("../images/voice2.png") repeat scroll -4px 0 rgba(255,255, 255, 0.7); background-size:cover;
border-radius: 50%;
cursor: pointer;
display: none;
height: 30px;
position: fixed;
right: 10px;
top: 10px;
width: 30px;
z-index: 2222; animation: 3s linear 0s none infinite  rotate2;-webkit-animation: 3s linear 0s none infinite  rotate2;}
.sound-off {background: url("../images/voice2.png") right   rgba(255,255, 255, 0.7);background-size:cover; animation:none}

@keyframes rotate2 {
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(360deg);}
}
@-webkit-keyframes rotate2 {
   0%{-webkit-transform:rotate(0deg); }
    50%{-webkit-transform:rotate(180deg); }
    100%{-webkit-transform:rotate(360deg); }
}





html,body{ width: 100%; height: 100%; position: relative; left:0; top: 0; background: #000; }

#wrap{width: 100%; height: 100%; position: absolute; left: 50%; top:50%;position: relative;}
.page{
    width: 100%; height: 100%; position: absolute; left: 0; top:0;
    transform: translate3d(0, 0, 0); 
    -webkit-transform: translate3d(0, 0, 0);
}
/* 落地页 */
.landing{
    background: #000;
}
.words{
    width: 100%;
    height: 65%;
    padding-top: 1.1rem;
    line-height: 0.35rem;
    text-align: left;
    padding-left:0.5rem;
    color: #fff;
    font-size: 0.24rem;
}
.landingBtn{width: 0%;}
.landingBtn img{
    width: 100%;
}

.beginBtn{
    width: 0%;
    margin: 0 auto;
    -webkit-animation: beginBtns .5s  linear forwards;
    animation: beginBtns .5s  linear forwards;
}
@keyframes beginBtns{
    0% {
        width: 0%;
    }
    100% {
        width: 25%;
    }
}
@-webkit-keyframes beginBtns{
    0% {
        width: 0%;
    }
    100% {
        width: 25%;
    }
}
.beginBtn img{
    width: 100%;
}
/* 倒计时 */
#time{ width: 100%; height: 100%;position: fixed;top: 50%;left:50%;font-size: 28px;color:red;z-index:1;pointer-events:none;font-weight: bold;}
.Countdown{position: absolute;top:10px;right:10px;padding: 6px;border:4px solid rgba(255,255,255,.3);border-radius:6px;background: rgba(0,0,0,.5);}


/* 弹层 */
.popBox{width: 100%; height: 100%;position: fixed;top: 50%;left:50%;background: rgba(0,0,0,0.5);z-index:2;}
.popBoxCon{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);width: 60%;}

.popBox2{width: 100%; height: 100%;position: fixed;top: 50%;left:50%;background: rgba(0,0,0,0.5);z-index:2;}
.popBoxCon2{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);width:60%;}

.popBox3{width: 100%; height: 100%;position: fixed;top:50%;left:50%;background: rgba(0,0,0,0.5);z-index:2;}
.popBoxCon3{width: 100%; height: 100%;position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.popBox4{width: 100%; height: 100%;position: fixed;top: 50%;left:50%;z-index:10;pointer-events:none;}

.popBox5{width: 100%; height: 100%;position: fixed;top: 50%;left:50%;z-index:2;}
.popBoxCon5{width: 1%; height: 100%;position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);
    -webkit-animation: sheqiu1 .3s  linear forwards;
    animation: sheqiu1 .3s  linear forwards;}
@keyframes sheqiu1{
    0% {
        width: 1%;
        height: 100%;
        top: 75%;
        left:10%;
    }
    100% {
        width: 100%;
        height: 100%;
        top:50%;left:50%;
    }
}
@-webkit-keyframes sheqiu1{
     0% {
        width: 1%;
        height: 100%;
        top: 75%;left:10%;
    }
    100% {
        width: 100%;
        height: 100%;
        top:50%;left:50%;
    }
}
.ballbox{width: 1rem; height: .8rem;position: absolute;top:41%;left:45%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);
-webkit-animation: sheqiu2 2.5s  linear forwards;
    animation: sheqiu2 2.5s  linear forwards;}
@keyframes sheqiu2{
    0% {
        top:48%;
        left:45%;
    }
    25% {
        top:45%;
        left:60%;
    }
    50% {
        top:50%;
        left:75%;
    }
    75% {
        top:55%;
        left:85%;
    }
    100% {
        top:61%;
        left:95%;
    }
}
@-webkit-keyframes sheqiu2{
    0% {
        top:48%;
        left:45%;
    }
    25% {
        top:45%;
        left:60%;
    }
    50% {
        top:50%;
        left:75%;
    }
    75% {
        top:55%;
        left:85%;
    }
    100% {
        top:61%;
        left:95%;
    }
}
.ballbox .ballbg{width: 100%;height: 100%;position: absolute;top: 0;right: 0;}
.ballbox .ballbody{width: .75rem;height: .67rem;position: absolute;top: 0;right: 0;
    -webkit-transform: rotate3d(1,0,0,0deg);
            transform: rotate3d(1,0,0,0deg);
    -webkit-animation: sheqiu3 .5ss  linear infinite;
    animation: sheqiu3 .5s  linear infinite;}
@keyframes sheqiu3{
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes sheqiu3{
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/* 成功结果页面 */
.resultSuc{width: 100%; height: 100%;position: fixed;top: 50%;left:50%;z-index:2;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);
            opacity: 0;
-webkit-animation: successPage 2.5s  linear forwards;
    animation: successPage 2.5s  linear forwards;}
@keyframes successPage{
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes successPage{
     0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.resultSuc .resultbg1{width: 4.77rem; position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.resultSuc .buttons{position: absolute;top: 55%;left: 40%;overflow: hidden;}
.resultSuc .buttons img{width: 1.3rem;display: inline-block;float: left;}
.resultSuc .buttons img:nth-child(2){margin-left: 0.1rem;}

.resultSuc .nameMsg{ position: absolute;top: 67%;left: 21%;overflow: hidden;}
.resultSuc .nameMsg span{font-size: 0.15rem;float: left;line-height: 0.25rem;margin-right: 10px;color: #fff;font-weight: bold;}
.resultSuc .nameMsg input{width: 0.85rem;border:none;border-radius: 4px;height: 0.25rem;float: left;}

.resultSuc .phoneMsg{ position: absolute;top: 67%;left: 40%;overflow: hidden;}
.resultSuc .phoneMsg span{font-size: 0.15rem;float: left;line-height: 0.25rem;margin-right: 10px;color: #fff;font-weight: bold;}
.resultSuc .phoneMsg input{width: 1.15rem;border:none;border-radius: 4px;height: 0.25rem;float: left;}

.resultSuc .tijiaoBtn{ position: absolute;top: 65%;left: 67%;}
.resultSuc .tijiaoBtn img{width: 1rem;}

/* 失败结果页面 */

.popBox9{width: 100%; height: 100%;position: fixed;top: 50%;left:50%;z-index:10;}
.resultFail{width: 100%; height: 100%;position: fixed;top: 50%;left:50%;z-index:2;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.resultFail .resultbg2{width: 4.77rem; position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.resultFail .buttons{position: absolute;top: 67%;left: 40%;overflow: hidden;}
.resultFail .buttons img{width: 1.3rem;display: inline-block;float: left;}
.resultFail .buttons img:nth-child(2){margin-left: 0.1rem;}



/* =======================首页======================= */
.page1{
    height: 100%;
    position: relative;
}
.page1>.shouyeBg{height: 100%;position: absolute;top: 0;left: 0;}
.page2>.scene2Bg{height: 100%;position: absolute;top: 0;left: 0;}

/* 场景1页面图片 */

/* 水果篮 */
.basketImg01{
    width: 2.1rem;
    height: 1.85rem;
    background: url(../images/basket01.png) no-repeat center/100%;
    position:absolute;
    bottom:0;
    left:5%;
}
.basketImg02{
    width: 1rem;
    height: 0.7rem;
    position:absolute;
    bottom:12%;
    left:17%;
    background: url(../images/basketVR.png) no-repeat center/100%;
    display: none;
}


/* 电视 */
.page .baidian{position: absolute;top: 44%;left: 13%;border:1px #fff solid;border-radius: 50%;z-index: 99;}
.page .baidian span{display: block; width: 22px;height: 22px;border-radius: 50%;background: rgba(255,255,255,.1);position: relative;}
.page .baidian span i{ width: 12px;height: 12px;border-radius: 50%;background: #fff;position: absolute;top: 5px;left: 5px;
    -webkit-animation: dianTips 1.2s  infinite linear;
    animation: dianTips 1.2s  infinite linear;
}
@keyframes dianTips{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes dianTips{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page1 .basket{top: 3.6rem;left: 1.5rem;}
.page1 .vr{top:3.4rem;left:2rem;}
.page1 .tv{top: 1.2rem;left:6rem;}
.page1 .fridge{top: 1.3rem;left: 7.5rem;}
.page1 .mimamen{top: 1.5rem;left: 0.5rem;}
.page1 .shafa{top: 3.4rem;left: 8rem;}



/* 场景2页面 */
.page2{overflow: hidden;}
.page2>.scene2Bg{height: 100%;width:100%;position: absolute;top: 0;left: 0;}
.page2>.scene2Bg02{height: 100%;width:100%;position: absolute;top: -100%;left: 0;}
.page2 .carScreen{top: 2rem;left: 3.5rem;}
.page2 .carWheel{top: 1.9rem;left: 2.2rem;}
.msgBox,.msgBox42{
    width: 100%;
    height: 50px;
    background: rgba(0,123,123,.3);
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 30px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 2px;
}
.openWindowBtn{
    width: 100px;
    height: 40px;
    background: url(../images/openBtn.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.fanhuidating{
    width: 100px;
    height: 40px;
    background: url(../images/fanhuiBtn.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.chakanBtn{
    width: 100px;
    height: 40px;
    background: url(../images/chakan.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.fanhuiBtn{
    width: 100px;
    height: 40px;
    background: url(../images/fanhuiBtn.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    bottom: 30px;
    right: 20px;
}


.newScreen{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
}
.newScreenCon{
    position: absolute;top:50%;left:50%;transform:translate(-35%,-50%);-webkit-transform:translate(-35%,-50%);
}

/* 密码 */
.popBox6{width: 100%; height: 100%;position: fixed;top: 50%;left:50%;background: rgba(0,0,0,0.5);z-index:3;}
.popBoxCon6{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.popBoxCon6 img{
    width: 3.75rem;
    height: 3rem;
}
.top4{
    position: absolute;
    top:21%;
    left:31.5%;
    width: 2.7rem;
    height: 0.4rem;
}
.top4 span{
    float:left;
    width: 25%;
    height: 100%;
    display: block;
    color:#fff;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
}
.bottom9{
    position: absolute;
    top:33.5%;
    left:27%;
    width: 3.4rem;
    height: 2rem;
    background: #ccc;
    opacity: 0.1;
}
.bottom9 span{
    float:left;
    width: 33.33%;
    height: 25%;
    display: block;
}


.carMsg{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 30px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 2px;
}
.carMsg_kb{
    background: rgba(0,0,0,1);
}
.carMsg_kb .carMsgCon{
    margin-left: 20px;
}


.carMusicbg{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 8px;
    left: 0;
    display: none;
}

.carMusicb img{width: 50px;}

.voiceBox{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 300px;
}
.voice{
    width: 50px;
    height: 50px;
    position: relative;
}
.v{
    display: inline-block;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-radius: 50%;
    border-right:5px solid #ccc;
    border-bottom:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-top:5px solid rgba(0,0,0,0);
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    left:-10px;
}
.voice01{
    top:0;
}
.voice02{
    width:30px;
    height: 30px;
    top:5px;
    left:5px;

}
.voice03{
    width: 10px;
    height:10px;
    top:5px;
    left:5px;
}
.voiceb{
    position: absolute;
    top:0;
    left:0;
}
.voiceb .v{
    border-right:5px solid #fff;
}
.voicebCon{
    width: 100%;
    height:100%;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    animation: voice 0.6s alternate infinite;
    -webkit-animation: voice 0.6s alternate infinite;
}
@keyframes voice {
    0% { width:0; }
    25% { width:40%; }
    50% { width:60%; }
    75% { width:80%; }
    100% { width:100%; }
}
@-webkit-keyframes voice {
    0% { width:0; }
    25% { width:40%; }
    50% { width:60%; }
    75% { width:80%; }
    100% { width:100%; }
}


.share_page{width: 100%; height: 100%;position: fixed;top: 50%;left:50%;background: rgba(0,0,0,0.9);z-index:999999;display: none;}
.share_page .share_img{position: absolute;top:31%;left:34%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);width:50%;}
